POSTGRES_HOST=db
POSTGRES_DB=duketic
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
API_PORT=3030
GRAPHICS_API_PORT=4040
REACT_APP_API_ROOT=http://localhost/api/
REACT_APP_DATA_API_ROOT=http://localhost/data/
POSTGRES_DUMP_PATH=/opt/RENCI/backup
REDCAP_APPLICATION_TOKEN=SUPER_SECRET_TOKEN
PAUSE=0
RELOAD_SCHEDULE=1
RELOAD_DATABASE=1
SCHEDULE_RUN_TIME=00:00
AUXILIARY_PATH=./auxiliary
FILTER_PATH=./filter
AUTH_PORT=3031
IPAM_CONFIG_SUBNET=172.18.0.0/16
REACT_APP_AUTH_API_KEY=supersecretlongstring
REACT_APP_AUTH_URL=https://auth-fuse.renci.org/v1/authorize
FUSE_AUTH_API_KEY=SECRET
DASHBOARD_URL=http://localhost:3000
BLOCK_PATH=./block
API_SESSION_SECRET=something-secret
AUTH_URL=https://some-auth-url.com
AUTH_ENV=development
MAPPING_LOCAL_PATH=./mapping.json
DATA_INPUT_FILE_PATH=./syntheticDataset.json
DOWNLOAD_REDCAP_DATA=0
GLOBAL_WRITE_PERMISSIONS=none
IS_HEAL_SERVER=false
REDCAP_APPLICATION_TOKEN=faketoken
DATA_DICTIONARY_INPUT_FILE_PATH=./redcap_data_dictionary_export.json
DOWNLOAD_REDCAP_DATA_DICTIONARY=0
LOCAL_ENV=true
