version: '3'

services:
  pipeline:
    container_name: pmd-pipeline
    image: zooh/pmd-pipeline-reload:0.1.4
    restart: always
    environment:
      POSTGRES_DATABASE_NAME: $POSTGRES_DB
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      POSTGRES_PORT: $POSTGRES_PORT    
      POSTGRES_HOST: db
      REDCAP_APPLICATION_TOKEN: $REDCAP_APPLICATION_TOKEN
      POSTGRES_DUMP_PATH: /backup
    volumes:
      - $POSTGRES_DUMP_PATH:/backup
    depends_on:
      - db
      
  db:
    container_name: pmd-db
    restart: always
    build:
      context: ./db/
      dockerfile: Dockerfile
    volumes:
      - ./db/pgdata/:/var/lib/postgresql/data/
      - ./db/init-user-db.sh:/docker-entrypoint-initdb.d/init-user-db.sh
      - ./db/duketic.sql:/data/duketic.sql
    environment:
      POSTGRES_DB: $POSTGRES_DB
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      POSTGRES_PORT: $POSTGRES_PORT
    expose:
      - $POSTGRES_PORT

  api:
    container_name: pmd-api
    build:
      context: ./api/
      dockerfile: Dockerfile
    volumes:
      - ./api:/usr/src/app
      - /usr/src/app/node_modules/
    ports:
      - $API_PORT:$API_PORT
    environment:
      NODE_ENV: production
      API_PORT: $API_PORT
      POSTGRES_DB: $POSTGRES_DB
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      POSTGRES_PORT: $POSTGRES_PORT
    depends_on:
      - db

  frontend:
    container_name: pmd-frontend
    build:
      args:
        NODE_ENV: production
        REACT_APP_API_ROOT: $REACT_APP_API_ROOT
      context: ./frontend/
      dockerfile: Dockerfile-prod
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./frontend/.htpasswd:/etc/nginx/.htpasswd
    ports:
      - 80:80
    depends_on:
      - api
