version: '3'

services:
  redis:
    container_name: ctmd-redis-dev
    build:
      context: ./redis/
      dockerfile: Dockerfile
    restart: always
    environment: {}
    volumes:
      - ./redis/data/:/data
    expose:
      - 6379
    command: ["--appendonly", "yes"]
    
  pipeline:
    container_name: ctmd-pipeline-dev
    image: zooh/ctmd-pipeline-reload@sha256:8561a408c2d211a0df5adfcf148e26257a81300d530934750fa051dbd0bc3290
    restart: always
    environment:
      POSTGRES_DATABASE_NAME: $POSTGRES_DB
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      POSTGRES_PORT: $POSTGRES_PORT    
      POSTGRES_HOST: db
      REDCAP_APPLICATION_TOKEN: $REDCAP_APPLICATION_TOKEN
      REDCAP_URL_BASE: "https://redcap.vanderbilt.edu/api/"
      POSTGRES_DUMP_PATH: /backup
      AUXILIARY_PATH: /auxiliary
      FILTER_PATH: /filter
      BLOCK_PATH: /block
      RELOAD_SCHEDULE: $RELOAD_SCHEDULE
      RELOAD_DATABASE: $RELOAD_DATABASE
      SCHEDULE_RUN_TIME: $SCHEDULE_RUN_TIME
      SERVER: 1
      REDIS_QUEUE_HOST: redis
      REDIS_QUEUE_PORT: 6379
      REDIS_QUEUE_DB: 0
      REDIS_LOCK_HOST: redis
      REDIS_LOCK_PORT: 6379
      REDIS_LOCK_DB: 1
      REDIS_LOCK_EXPIRE: 7200
      REDIS_LOCK_TIMEOUT: 7200
      TASK_TIME: 7200
      SPARK_EXECUTOR_MEMORY: 8g
      SPARK_DRIVER_MEMORY: 8g
      PAUSE: $PAUSE
    volumes:
      - $POSTGRES_DUMP_PATH:/backup
      - $AUXILIARY_PATH:/auxiliary
      - $FILTER_PATH:/filter
      - $BLOCK_PATH:/block
    depends_on:
      - db
      - redis
    ports:
      - 5000:5000

  db:
    container_name: ctmd-db-dev
    restart: always
    build:
      context: ./db/
      dockerfile: Dockerfile
    environment:
      POSTGRES_DB: $POSTGRES_DB
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      POSTGRES_PORT: $POSTGRES_PORT
    expose:
      - ${POSTGRES_PORT}

  api:
    container_name: ctmd-api-dev
    build:
      context: ./api/
      dockerfile: Dockerfile
    volumes:
      - ./api:/usr/src/app
      - /usr/src/app/node_modules/
    ports:
      - $API_PORT:$API_PORT
    environment:
      POSTGRES_PORT: $POSTGRES_HOST
      POSTGRES_PORT: $POSTGRES_PORT
      POSTGRES_DB: $POSTGRES_DB
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
    depends_on:
      - db
    restart: always

  frontend:
    container_name: ctmd-frontend-dev
    build:
      context: ./frontend/
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      NODE_ENV: development
    ports:
      - 3000:3000
    depends_on:
      - api
      - pipeline
    restart: always
