version: "3"

services:
  redis:
    container_name: ctmd-redis-dev
    image: redis:latest
    restart: always
    environment: {}
    volumes:
      - redis_data:/data
    expose:
      - 6379
    command: ["--appendonly", "yes"]

  pipeline:
    container_name: ctmd-pipeline-dev
    image: txscience/ctmd-pipeline-reload:v2.11
    restart: always
    environment:
      POSTGRES_DATABASE_NAME: $POSTGRES_DB
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      POSTGRES_PORT: $POSTGRES_PORT
      POSTGRES_HOST: db
      REDCAP_APPLICATION_TOKEN: $REDCAP_APPLICATION_TOKEN
      REDCAP_URL_BASE: $REDCAP_URL_BASE
      POSTGRES_DUMP_PATH: /backup
      AUXILIARY_PATH: /auxiliary
      FILTER_PATH: /filter
      BLOCK_PATH: ./block
      RELOAD_SCHEDULE: $RELOAD_SCHEDULE
      RELOAD_DATABASE: $RELOAD_DATABASE
      SCHEDULE_RUN_TIME: $SCHEDULE_RUN_TIME
      SERVER: 1
      REDIS_QUEUE_HOST: redis
      REDIS_QUEUE_PORT: 6379
      REDIS_QUEUE_DB: 0
      REDIS_LOCK_HOST: redis
      REDIS_LOCK_PORT: 6379
      REDIS_LOCK_DB: 1
      REDIS_LOCK_EXPIRE: 7200
      REDIS_LOCK_TIMEOUT: 7200
      TASK_TIME: 7200
      SPARK_EXECUTOR_MEMORY: 8g
      SPARK_DRIVER_MEMORY: 8g
      PAUSE: $PAUSE
      DATA_INPUT_FILE_PATH: $DATA_INPUT_FILE_PATH
      DOWNLOAD_REDCAP_DATA: $DOWNLOAD_REDCAP_DATA
      CREATE_TABLES: $CREATE_TABLES
      GLOBAL_WRITE_PERMISSIONS: $GLOBAL_WRITE_PERMISSIONS
      LOCAL_ENV: 'true'
    volumes:
      - db_backups:/backup
      - $AUXILIARY_PATH:/auxiliary
      - $FILTER_PATH:/filter
      - $BLOCK_PATH:/block
      - $MAPPING_LOCAL_PATH:/mapping.json
      - $DATA_INPUT_FILE_PATH:/syntheticDataset.json
      - ../data/redcap_data_dictionary_export.json:/redcap_data_dictionary_export.json  
    depends_on:
      - db
      - redis
    ports:
      - 5000:5000

  db:
    container_name: ctmd-db-dev
    restart: always
    image: postgres:latest
    # build:
    #   context: ./db/
    #   dockerfile: Dockerfile
    environment:
      POSTGRES_DB: $POSTGRES_DB
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      POSTGRES_PORT: $POSTGRES_PORT
    volumes:
      - db_data:/var/lib/postgresql/data
    expose:
      - ${POSTGRES_PORT}
    ports:
      - 5432:5432

  api:
    container_name: ctmd-api-dev
    build:
      context: ../services/api/
      dockerfile: api.Dockerfile
    volumes:
      - ../services/api:/usr/src/app
      - /usr/src/app/node_modules/
    ports:
      - $API_PORT:$API_PORT
    environment:
      AUTH_ENV: development
      POSTGRES_HOST: $POSTGRES_HOST
      POSTGRES_PORT: $POSTGRES_PORT
      POSTGRES_DB: $POSTGRES_DB
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      FUSE_AUTH_API_KEY: $AUTH_API_KEY
      DASHBOARD_URL: $DASHBOARD_URL
      REACT_APP_API_ROOT: $REACT_APP_API_ROOT
      NODE_ENV: development
      API_SESSION_SECRET: $API_SESSION_SECRET
      AUTH_URL: $AUTH_URL
    depends_on:
      - db
    restart: always

  frontend:
    container_name: ctmd-frontend-dev
    build:
      context: ../services/frontend/
      dockerfile: ui.Dockerfile
    volumes:
      - ../services/frontend:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      NODE_ENV: development
      REACT_APP_IS_HEAL_SERVER: $IS_HEAL_SERVER
    ports:
      - 3000:3000
    depends_on:
      - api
      - pipeline
    restart: always
# Named volumes
volumes:
  redis_data:
    external: false
  db_data:
    external: false
  db_backups:
    external: false
