name: trivy-pr-scan
on:
  pull_request:
    branches:
      - main
    types: [ opened, synchronize ]
    paths-ignore:
    - README.md
    - README.md.old
    - .github/**
    - LICENSE
    - .gitignore
    - .dockerignore
    - .githooks 

jobs:
 trivy-pr-scan:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Fail build on High/Criticial Vulnerabilities in Filesystem
      uses: aquasecurity/trivy-action@master
      with:
        scan-type: "fs"
        format: 'sarif'
        scan-ref: ./services/
        severity: HIGH,CRITICAL
        ignore-unfixed: true
        output: 'trivy-results.sarif'
        exit-code: '1'

    # Scan results should be viewable in GitHub Security Dashboard
    # We still fail the job if results are found, so below will always run
    # unless manually canceled.
    - name: Upload Trivy scan results to GitHub Security tab
      uses: github/codeql-action/upload-sarif@v4
      if: '!cancelled()'
      with:
        sarif_file: 'trivy-results.sarif'